<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cogmento CRM Application">

	<listeners>
		<listener class-name="UtilityLayer.ListenerSetUp"></listener>
		<listener class-name="UtilityLayer.AnnotationTransformerSetUp"></listener>
	</listeners>

	<test thread-count="5" name="Contact Page and Company Page Test cases">
		<classes>
			<class name="TestLayer.LoginPageTest" />
			<class name="TestLayer.HomePageTest" />
			<class name="TestLayer.ContactPageTest" />
			<class name="TestLayer.CompanyPageTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
